#hero {
    width: 100%;
    position: relative;
    padding: 30px 0;

    .nir-1 {
        background: url(../img/h1_hero1.png.webp) no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {

            // margin-top: 25px;
            h1 {
                color: #fff;
                font-size: 80px;
                line-height: 100px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }

            .btn {
                margin-top: 35px;
                display: block;
                padding: 17px 44px;
                text-align: center;
                background: $hover;
                width: 200px;
                margin-left: 20%;
                font-size: 18px;
                text-transform: uppercase;
                color: $colorWhite;
                position: relative;
                z-index: 1;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: #D16BA5;
                    background: linear-gradient(to right, #EF2C42, #F69826);
                    z-index: -1;
                    opacity: 0.5;
                    transition: 0.5s all cubic-bezier(.13, .76, .87, .58);
                }

                &:hover::after {
                    width: 100%;
                }
            }

        }
    }

    .nir-2 {
        background: url(../img/h1_hero2.png.webp) no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {

            // margin-top: 25px;
            h1 {
                color: #fff;
                font-size: 80px;
                line-height: 100px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }

            .btn {
                margin-top: 35px;
                display: block;
                padding: 17px 44px;
                text-align: center;
                background: $hover;
                width: 200px;
                margin-left: 20%;
                font-size: 18px;
                text-transform: uppercase;
                color: $colorWhite;
                position: relative;
                z-index: 1;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: #D16BA5;
                    background: linear-gradient(to right, #EF2C42, #F69826);
                    z-index: -1;
                    opacity: 0.5;
                    transition: 0.5s all cubic-bezier(.13, .76, .87, .58);
                }

                &:hover::after {
                    width: 100%;
                }
            }

        }
    }

    .nir-3 {
        background: url(../img/h1_hero3.png.webp) no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {

            // margin-top: 25px;
            h1 {
                color: #fff;
                font-size: 80px;
                line-height: 100px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }

            .btn {
                margin-top: 35px;
                display: block;
                padding: 17px 44px;
                text-align: center;
                background: $hover;
                width: 200px;
                margin-left: 26%;
                font-size: 18px;
                text-transform: uppercase;
                color: $colorWhite;
                position: relative;
                z-index: 1;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: #D16BA5;
                    background: linear-gradient(to right, #EF2C42, #F69826);
                    z-index: -1;
                    opacity: 0.5;
                    transition: 0.5s all cubic-bezier(.13, .76, .87, .58);
                }

                &:hover::after {
                    width: 100%;
                }
            }

        }
    }

    .hero-1 .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        background: 0 0;
        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;
        display: none;
    }

    .hero-1 .owl-carousel {
        position: relative;
    }

    .hero-1 .owl-dots {
        position: absolute;
        left: 45%;
        top: 93%;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
        border: 2px solid #ddd;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        background: $hover;
    }

}